<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>CotizDolar</strong> by <a target="_blank" href="https://github.com/cabupy">Cabu Vallejos</a>. The source code is licensed
      <a target="_blank" href="https://github.com/cabupy/cotizdolar/blob/master/LICENSE">MIT</a>. 
    </p>
  </div>
</footer>