<a class="twitter-timeline" 
  data-lang="es" 
  data-width="90%" 
  data-tweet-limit="3" 
  data-theme="light"
  href="https://twitter.com/mejordolarpy">
  Tweets by @MejorDolarPY</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>